<h1>Editing song</h1>

<%= render "form", song: [ @playlist, @song ] %>

<br>

<div>
  <%= link_to "Show this song", playlist_song_path(@playlist, @song) %> |
  <%= link_to "Back to songs", playlist_songs_path %>
</div>
