<div id="<%= dom_id item %>">
  <p>
    <strong>Title:</strong>
    <%= item.title %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= item.artist %>
  </p>

  <p>
    <strong>Key:</strong>
    <%= item.key %>
  </p>

</div>
