<p style="color: green"><%= notice %></p>

<h1 class="text-light">Items</h1>

<table class="table table-dark table-striped container" id="items">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Artist</th>
      <th scope="col">Key</th>
      <th scope="col">Detail</th>
    </tr>
  </thead>
  <% @items.each do |item| %>
    <%= render item %>
  <% end %>
</table>

<%= link_to "New item", new_item_path, class:"text-light" %>
