<div id="<%= dom_id playlist %>">
  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= playlist.description %>
  </p>

  <p>
    <strong>Live:</strong>
    <%= playlist.live %>
  </p>

</div>
