<div id="<%= dom_id playlist %>">
  <p>
    <strong>Name:</strong>
    <%= playlist.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= playlist.date %>
  </p>

  <p>
    <strong>Song:</strong>
    <%= playlist.song_id %>
  </p>

</div>
